@charset "utf-8";
/* CSS Document */
/**样式重置**/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family:"微软雅黑";
    font-weight: normal;
    outline: none ;
}

img {
    border: none;
}
input, button {
    border: 1px solid #888888;
}
area{outline: none;}
.goodsWrap {
    padding-bottom: 105px;
}
/******************商品详情页************************************/
body > h2 {
    width: 1200px;
    margin: 24px auto 10px;
    line-height: 40px;
    font-weight: bold;
}
body > h2 a {
    font-size: 14px;
    color: #999999;
    margin-right: 4px;
}
body > h2 span {
    font-size: 14px;
}
.Xnavigation{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cd2426;
    min-width: 1200px;
}
.Xnavigation02>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #c22629;
    line-height: 40px;
    margin-left: 360px;
    float: left;
}
.Xnavigation03>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation03>a>p:hover{
    color: #C22629;
}
.Xnavigation04>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation04>a>p:hover{
    color: #C22629;
}
.Xnavigation05>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation05>a>p:hover{
    color: #C22629;
}
.Xnavigation06>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation06>a>p:hover{
    color: #C22629;
}
.Xnavigation07>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation07>a>p:hover{
    color: #C22629;
}
.Xnavigation08>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #1c1b19;
    line-height: 40px;
    margin-left: 60px;
    float: left;
}
.Xnavigation08>a>p:hover{
    color: #C22629;
}
.Xcontent{
    width: 1200px;
    margin: 0 auto 20px;
    padding: 26px 30px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}
.Xcontent01{
    width: 1190px;
    height: 486px;;
    margin: auto;
    overflow: hidden;
}
.Xcontent02>a>p{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #595959;
    margin-top: 30px;
    float: left;
}
.Xcontent02>a>p:hover{
    color: #cd2426;
}
.Xcontent03>p{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #595959;
    margin-top: 32px;
    float: left;
    margin-left: 2px;
    cursor: pointer;
}
.Xcontent04>p{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #595959;
    margin-top: 33px;
    float: left;
    margin-left: 2px;
    cursor: pointer;
}
.Xcontent05{
    width: 1198px;
    height: 484px;
    border: 1px solid #a4a4a4;
    margin-top: 70px;
}
.Xcontent06{
    width: 429px;
    height: 430px;
    float: left;
    margin-right: 20px;
}
.Xcontent08{
    float: left;
    width: 78px;
    height: 430px;
    margin-right: 40px;
}
.Xcontent07{
    width: 76px;
    height: 76px;
    border: 1px solid #e8e8e8;
}
.Xcontent07>img{
    width: 100%;
    height: 100%;
}
.Xcontent09{
    width: 76px;
    height: 76px;
    margin-top: 11px;
    border: 1px solid #e8e8e8;
}
.Xcontent09>img{
    width: 100%;
    height: 100%;
}
.Xcontent10{
    width: 76px;
    height: 76px;
    margin-top: 12px;
    border: 1px solid #e8e8e8;
}
.Xcontent10>img{
    width: 100%;
    height: 100%;
}
.Xcontent11{
    width: 76px;
    height: 76px;
    margin-top: 12px;
    border: 1px solid #e8e8e8;
}
.Xcontent11>img{
    width: 100%;
    height: 100%;
}
.Xcontent12{
    width: 76px;
    height: 76px;
    border: 1px solid #e8e8e8;
    margin-top: 12px;
}
.Xcontent12>img{
    width: 100%;
    height: 100%;
}
.Xcontent13{
    width: 554px;
    height: 530px;
    float: left;
}
.Xcontent14>a>p{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #333;
}
.Xcontent14 a {
    display: block;
}
.Xcontent15>img{
    float: left;
    margin-top: 32px;
    margin-left: 10px;
}
.Xcontent16>p{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #9f9f9f;
    margin-top: 10px;
}
.Xcontent17{
    width: 574px;
    height: 116px;
    background: #f5f3ef;
    margin-top: 20px;
    overflow: hidden;
}
.Xcontent18{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666a6e;
    margin-top: 20px;
    margin-left: 16px;
    float: left;
}
.Xcontent19{
    font-family:"微软雅黑";
    font-size: 18px;
    float: left;
    color: #d7282d;
    margin-left: 26px;
    margin-top: 4px;
}
.Xcontent19>span{
    font-family: "微软雅黑";
    font-size: 28px;
    color: #cd2426;

}
.Xcontent20{
    height: 20px;
    width: 502px;
    margin-top: 50px;
}
.Xcontent21{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #666a6e;
    margin-left: 16px;
    line-height: 20px;
    float: left;
}
.Xcontent20>img{
    float: left;
    margin-top: 1px;
    margin-left: 28px;
}
.Xcontent22{
    font-family: "微软雅黑";
    font-size: 12px;
    line-height: 20px;
    color: #cd2426;
    margin-left: 10px;
    float: left;
}
.Xcontent23{
    height: 20px;
    margin-top: 11px;
}
.Xcontent24{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #666a6e;
    margin-left: 16px;
    line-height: 20px;
    float: left;
}
.Xcontent25{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #6e7372;
    margin-left: 28px;
    float: left;
    line-height: 20px;
}

.Xcontent27{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #605f5f;
    margin-left: 16px;
    float: left;
}
.Xcontent28{
    border: 1px solid #e8e8e8;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 16px;
    margin-left: 20px;
}
.Xcontent28>img{
    width: 100%;
    height: 100%;


}
.Xcontent29>img{
    width: 100%;
    height: 100%;

}
.size {
    float: left;
    width:350px;
}
.Xcontent29{
    float: left;
    margin-top: 16px;
    margin-left: 30px;
    border: 1px solid #e8e8e8;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.Xcontent30{
    width: 554px;
    height: 85px;
    overflow: hidden;
}
.Xcontent31{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #605f5f;
    margin-left: 16px;
    margin-top: 20px;
    float: left;
}
.Xcontent32{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.input{
    height: 32px;
    width: 60px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    line-height: 30px;
    text-align: center;
    float: left;
}
.Xcontent33>img{
    float: left;
    margin-top: 20px;
}
.Xagain{
    width: 1198px;
    height: 334px;
    margin: auto;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
}
.Xagain01{
    width: 1198px;
    height: 42px;
    background: #f5f5f5;
}
.Xagain01>p{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #686868;
    line-height: 42px;
    margin-left: 20px;
}
.Xcontent34{
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 16px;
    border: 1px solid #ae846c;
    background: #ae846c;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
}
.Xcontent34 a, .Xcontent35 a{
    display: block;
    color: #ae846c;
    line-height: 40px;
    width: 120px;
    text-align: center;
}
.Xcontent34 a {
    color: #fff;
}
.Xcontent35{
    float: left;
    width: 120px;
    height: 40px;
    border: 1px solid #ae846c;
    margin-left: 20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.Xcontent34:hover a {
    color: #fff;
    background: #ae846c;
    text-decoration: none;
}
.Xagain02>a>img{
    margin-top: 120px;
    margin-left: 20px;
    float: left;
}
.Xagain03>a>img{
    float: left;
    margin-left: 20px;
}
.Xagain04>a>img{
    float: left;
    margin-left: 20px;
}
.Xagain05>a>img{
    float: left;
    margin-left: 20px;
}
.Xagain06>a>img{
    float: left;
    margin-left: 20px;
}
.Xagain07>a>img{
    float: right;
    margin-right: 20px;
    margin-top: 120px;
}

.Xagain09>a>p{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #686868;
    float: left;
    margin-top: -40px;
    margin-left: 100px;
}
.Xagain09>a>p>span{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #cd2426;
    line-height: 40px;
}
.Xagain10>a>p{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #686868;
    float: left;
    margin-top: -40px;
    margin-left: 140px;
}
.Xagain10>a>p>span{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #cd2426;
    line-height: 40px;
}
.Xdetails{
    width: 1200px;
    height: 2800px;
    margin: auto;
    margin-top: 40px;
    position: relative;

}
.Xdetails01{
    width: 780px;
    height: 2800px;
    float: left;

}
.Xdetails02{
    width: 168px;
    height: 38px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;

}
.Xdetails03{
    width: 170px;
    height: 2px;
    background: #d7282d;
    position: absolute;
    top: 0;
}
.Xdetails04{
    width: 168px;
    height: 38px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;
    border-left: none;
}
.Xdetails05{
    width: 440px;
    height: 38px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;
    border-left: none;
}
.Xdetails001{
    width: 780px;
    height: 40px;
    background: #00f;

}
.Xdetails02>p{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #333333;
    line-height: 38px;
    text-align: center;

}
.Xdetails04>p{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #333333;
    line-height: 38px;
    text-align: center;
}
.Xdetails04>p>span{
    color: #cd2426;
    font-family: "微软雅黑";
    font-size: 16px;
}
.Xdetails002{
    width: 780px;
    height: 2760px;

}
.Xdetails008{
    width: 310px;
    height: 2200px;
    float: right;
}
.Xdetails009{
    width: 308px;
    height: 38px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
}
.Xdetails009>p{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333;
    line-height: 38px;
    text-align: center;
}
.Xdetails010{
    height: 862px;
    width: 308px;
    border: 1px solid #e1e1e1;
    border-top: none;

}
.Xdetails011>img{
    margin-left: 24px;
    margin-top: 26px;
}
.Xdetails012>img{
    margin-left: 24px;
    margin-top: 26px;
}
.Xdetails013>img{
    margin-left: 24px;
    margin-top: 26px;
}
.Xdetails014>img{
    margin-left: 24px;
    margin-top: 26px;
}
.Xdetails015>img{
    margin-left: 24px;
    margin-top: 26px;
}
.Xdetails016{
    width: 308px;
    height: 38px;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    margin-top: 60px;
}
.Xdetails016>p{
    font-family: "微软雅黑";
    font-size: 18px;
    color: #333;
    line-height: 38px;
    text-align: center;
}
.Xdetails017{
    height: 1116px;
    width: 308px;
    border: 1px solid #e1e1e1;
    border-top: none;

}
.Xdetails018>a>img{
    margin-left: 36px;
    margin-top: 40px;
}
.Xdetails019>a>img{
    margin-left: 30px;
    margin-top: 30px;
}
.Xdetails020>a>img{
    margin-left: 36px;
    margin-top: 60px;
}
.Xdetails021>a>img{
    margin-left: 36px;
    margin-top: 40px;
}



.Xcontent26 {
    height: 72px;
    text-align: center;
    line-height: 50px;
}
.Xcontent26 div {
    cursor: pointer;
}
h3 {
    font-size: 18px;
    line-height:40px;
    /*border-bottom: 1px solid #eee;*/
    margin-bottom: 30px;
}
.Xcontent>h3{
    border-bottom: 1px solid #eee;
}
.parameter ul{
    float: left;
    width: 70%;
}
.parameter ul:nth-child(1) {
    width: 30%;
}
.parameter li {
    width: 100%;
    height: 30px;
    margin-bottom:4px;
}
.parameter span {
    float: left;
    width: 50%;
    text-align: right;
    margin-right: 4px;
}
.parameter em {
    float: left;
    text-align: left;
}
.imgBox img {
    display: block;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.Xcontent33 {
    font-family: "微软雅黑";
    font-size: 14px;
    cdivor: #605f5f;
    line-height: 100px;
    float: left;
}

.goodsName{
    font-size: 16px;
}
.oldTotal{
    font-size: 12px;
    color: #666a6e;
    margin-top: 20px;
    margin-left: 16px;
    float: left;
}

.borderColor{
    border-color:#dedede;
}

.borderColor-active{
    border-color:#cd2426;
}
.size div{
    padding: 5px;
    float: left;
    border: 1px solid #e8e8e8;
    margin-left: 20px;
    cursor: context-menu;
}
.size .borderColor-active {
    border-color: #cd2426;
}
.Xcontent53{
    overflow: hidden;
    /*padding:10px 0;*/
    /*padding-top: 10px;*/
}

.alert{
    border:1px solid #cd2426;
}
.imgBox{
    margin-bottom: 20px;
}
.descUl span,.descUl em{
    font-size:14px;
}



